::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: rgb(214, 2, 2);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 68, 68);
}

:root{
    --background: rgb(40, 40, 40);
}

*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--background);
}

.default{
    width: 100%;
    height: 100%;
    background-color: white;
    background-image: url(../images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
}

.default span{
    width: 100%;
    height: 100%;
    color: white;
    font-size: 40px;
    background: linear-gradient(black,rgba(0,0,0,0.3));
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}

.default span label{
    user-select: none;
    cursor: pointer;
}

.default span label::after{
    content: '|';
    opacity: 0;
    animation-name: showhide;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes showhide {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.default-2{
    width: 100%;
    height: auto;
    background-color: black;
    border-top: 5px solid var(--background);
    border-bottom: 5px solid var(--background);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.default-2-text{
    font-size: 20px;
    user-select: none;
}

.default-2-image-tv{
    width: 300px;
    height: 200px;
    background-image: url(../images/tv.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.sobre{
    background-color: black;
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.sobre #frequent{
    width: 60%;
}

.sobre-box{
    margin: 10px;
    padding: 20px;
    background-color: #303030;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sobre-box .sobre-title{
    width: 100%;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.sobre-box .sobre-title div{
    width: 20px;
    height: 2px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.rotateZ{
    transform: rotateZ(45deg);
}

.sobre-box .sobre-title div::after{
    content: '';
    position: absolute;
    width: 2px;
    height: 20px;
    background-color: white;
}

.sobre-box .sobre-desc{
    padding: 10px;
    margin-top: 20px;
    font-size: 18px;
    width: 104%;
    border-top: 2px solid black;
    cursor: text;
}