header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

header form{
    display: flex;
    flex-direction: row;
    margin: 30px;
}

header form input{
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.2s;
    padding: 10px;
}

header form input:hover{
    color: rgb(252, 31, 31);
}

header span{
    width: 180px;
    height: 80px;
    background-image: url(../images/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 30px;
    cursor: pointer;
}